<div class="total">

    <!--sezione logo-->
    <header class="d-flex justify-content-between align-items-center p-custom  border-bottom">
        <a href="https://www.subito.it" title="Subito.it">
            <img src="https://assets.subito.it/static/logos/market.svg" alt="Subito.it" class="market-logo">
        </a>
        
        
    </header>

    <!--navbar home-->

    <nav class="container py-3">
        <a href="https://www.subito.it/" class="btn-back">
            <svg role="img" aria-hidden="true" width="16" height="16" viewBox="0 0 16 16" xmlns="http://www.w3.org/2000/svg">
                <path d="m10.707 4.7071c0.3905-0.39053 0.3905-1.0237 0-1.4142-0.3905-0.39052-1.0237-0.39052-1.4142 0l-4 4c-0.39052 0.39053-0.39052 1.0237 0 1.4142l4 4c0.39053 0.3905 1.0237 0.3905 1.4142 0s0.3905-1.0237 0-1.4142l-3.2929-3.2929 3.2929-3.2929z"></path>
            </svg>
            Torna alla home
        </a>
        
    </nav>

    <!--section 1-->

    <div class="carousel-container">
        <div id="carouselExample" class="carousel slide" data-bs-interval="false">
            <div class="carousel-inner">
                <div class="carousel-item active">
                    <img src="https://images.sbito.it/api/v1/sbt-ads-images-pro/images/28/285bb541-3be2-41f8-8eca-ae03e33a5b35?rule=gallery-desktop-1x-auto" alt="Iphone 15">
                </div>
                <div class="carousel-item">
                    <img src="https://images.sbito.it/api/v1/sbt-ads-images-pro/images/b0/b019d506-c099-45dd-a82a-5e1399be2ec3?rule=gallery-desktop-1x-auto" alt="">
                </div>
            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#carouselExample" data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carouselExample" data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Next</span>
                
            </button>
            <hr class="custom-divider">
            
            <div class="carousel-thumbnails">
                
                <img src="https://images.sbito.it/api/v1/sbt-ads-images-pro/images/28/285bb541-3be2-41f8-8eca-ae03e33a5b35?rule=gallery-desktop-1x-auto" data-bs-target="#carouselExample" data-bs-slide-to="0" class="active">
                <img src="https://images.sbito.it/api/v1/sbt-ads-images-pro/images/b0/b019d506-c099-45dd-a82a-5e1399be2ec3?rule=gallery-desktop-1x-auto" data-bs-target="#carouselExample" data-bs-slide-to="1">
            </div>
        </div>
        
       
    </div>
   


</div>