<app-search-bar></app-search-bar>
<div class="d-flex justify-content-center align-items-center vh-100">
    <div class="container custom-container border">
        <div class="row w-100 h-100">
            <div class="col-3 bg-primary d-flex align-items-center justify-content-center ">
                <app-filter-sidebar></app-filter-sidebar>
            </div>
            <div class="col-9 bg-secondary d-flex align-items-center justify-content-center text-white">
                Colonna 9
            </div>
        </div>
    </div>
</div>
