<app-navbar></app-navbar>
<app-search-bar (searchChanged)="onSearchChanged($event)"></app-search-bar>
<div class="d-flex justify-content-center align-items-center">
    <div class="container custom-container border-top">
        <div class="row w-100 h-100">
            <div class="col-3 align-items-center justify-content-center ">
                <app-filter-sidebar (filtersChanged)="onFiltersChanged($event)"></app-filter-sidebar>
            </div>
            <div class="col-9 d-flex align-items-center justify-content-center">
                <app-list-elements [filters]="filters" [searchFilters]="searchFilters"></app-list-elements>
            </div>
        </div>
    </div>
</div>
<app-footer></app-footer>
