@font-face {
    font-family: 'LFTEtica';
    src: url('/Subito.io-Clone/subito-frontend/src/assets/font/LFTEtica.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

body {
    font-family: 'LFTEtica', sans-serif;
}